.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

hr{
  width: 500px;
}

form input[type='text'],
form select,
form textarea{
  display: block;
  margin: 10px;
  padding: 5px;
  min-width: 250px;
  max-width: 250px;
}

form select{
  min-width: 263px;
  max-width: 263px;
}

form input[type='submit'],
form button{
  display: block;
  float: left;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: green;
  color: white;
  font-weight: bold;
  border: 1px solid rgb(2,73,2);
  transition: all 300ms;
}

form input[type='submit']:hover,
form button:hover{
  background-color: #eee;
  color: black;
  border: 1px solid #777;
}

.info{
  text-align: left;
  clear: both;
}

.texto{
  background-color: lightblue;
  color: #444;
  border-radius: 5px;
  padding: 5px;
  display: block;
  margin-top: 5px;
}